main {
    width: 800px;
    margin: 200px auto 72px auto;
    background-color: rgb(253, 199, 222);
    padding: 24px;
    border: 5px solid rgb(247, 168, 208);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(248, 142, 192);
}

img {
    width: 200px;
    height: 200px;
    border: 10px rgb(248, 142, 192);
}

#daily-challenge {
    color: rgb(247, 242, 245);
    font-weight: bold;
    font-size: 42px;
    font-family: sans-serif;
}


