.full-week-header {
    font-size: 62px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 100px; /*Used to make the image circular*/
}

ol {
    list-style: none;
}

li {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

h2 {
    font-family: 'Arima', cursive;
    color: rgb(248, 138, 211);
}

main p {
    margin: 12px;
}




