.full-week-header {
    font-size: 62px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 100px; /*Used to make the image circular*/
}

ol {
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
    width: 800px;
}

li {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin: 32px 32px 70px 32px;
    background-color: rgb(253, 199, 222);
    padding: 16px;
    border: 5px solid rgb(247, 168, 208);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(248, 142, 192);
    text-align: center;
}

h2 {
    font-family: 'Arima', cursive;
    color: rgb(248, 138, 211);
    margin: auto;
}

main {
    margin: 12px;
}




