body {
    text-align: center;
    background-color: rgb(250, 192, 228);
    margin: 50px;
}

h1 {
    font-family: 'Cookie', cursive;
    color: rgb(248, 142, 192);
    font-size: 52px;

}

p {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#challenge-link-paragraph {
    color: rgb(224, 150, 247);
    font-size: 32px;
    font-family: 'Arima', cursive;
    margin-top: 50px;
}